body {
    margin: 0;
    background: rgb(216, 187, 92);
}

.the-ivory {
height: 40px;
color: rgb(20, 20, 75);
font-size: 60px;
margin-top: 3px;
}

.contacts {
    margin: 0;
    height: 40px;
    display: inline-block;
    margin-left: 20rem;
}

.contact__socials {
    display: flex;
    list-style: none;
    letter-spacing: 3rem;
    font-size: large;
    margin-right: 5rem;
}


.victoria-island {
color: rgb(20, 20, 75);
font-size: 35px;
margin-bottom: 0px;
display: inline-block;
}

.the-ivory, .victoria-island, .slogan {
    font-family: Gelasio, seriss;
}

.slogan {
    height: 30px;
    color: rgb(20, 20, 75);
    margin: 2px;
    margin-top: 1px;
}

.line {
    background: rgb(20, 20, 75);
    border: none;
    height: 1px;
}

.book-now {
    color: white;
    size: 25px;
    height: 50px;
    width: 10rem;
    background-color: rgb(20, 20, 75);
    border: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border: none;
}

/* .footer__line {
    background: rgb(20, 20, 75);
    border: none;
    height: 1px;
}  */



.right {
    margin-top: 3rem;
}

.responsive {
    padding: 0 6px;
    float: left;
    display: flex;
    height: fit-content;
    width: fit-content;
    background: rgb(216, 187, 92);;
    margin: 2rem;
}

.gallery{
    display: flex;

}
  
/* @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} */

.ivory-header {
    display: inline-block;
    margin-top: 3px;
}

.the-ivory.ivory__footer{
   cursor: pointer;
   font-size: 20px;

}



.footer__container {
    display: flex;
}

.images {
    height: 7rem;
    width: 5rem;
}

.gallery {
    border: 1px solid;
    border-color: rgb(20, 20, 75);
    display: grid;
    margin: 2rem 2rem 2rem 2rem;
    /* grid-template-columns: repeat(3, fr) */
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.img1 {
    height: 40rem;
    width: 4rem;
}
  

.victoria-island__footer{
    font-size: 13px;
}

.contianer.footer__container {
    display: flex;
}