body {
    background-color: rgb(235, 220, 89);
    background-image: url('the ivory.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}


.the-ivory {
height: 30px;
color: rgb(20, 20, 75);
font-size: 40px;




}

.victoria-island {
color: rgb(20, 20, 75);
font-size: 20px;
margin-bottom: 0px;
display: inline-block;
}

.the-ivory, .victoria-island, .slogan {
    font-family: Gelasio, seriss;
}

.slogan {
    height: 30px;
color: rgb(20, 20, 75);
margin: 2px;

}

.book-now {
    color: white;
    size: 25px;
    height: 50px;
    background-color: rgb(20, 20, 75);
    border: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border: none;
 
}